# Copyright 2025 ATP Project Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "atp.fullname" . }}-router
  labels:
    {{- include "atp.labels" . | nindent 4 }}
    app.kubernetes.io/component: router
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "atp.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: router
---

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "atp.fullname" . }}-memory-gateway
  labels:
    {{- include "atp.labels" . | nindent 4 }}
    app.kubernetes.io/component: memory-gateway
spec:
  minAvailable: 1
  selector:
    matchLabels:
      {{- include "atp.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: memory-gateway
{{- end }}