apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

images:
  - name: atp/router
    newName: registry.internal.company.com/atp/router
    newTag: v1.0.0

patchesStrategicMerge:
  - air-gapped-patch.yaml

configMapGenerator:
  - name: atp-config
    behavior: replace
    literals:
      - ATP_ENV=air-gapped
      - ATP_LOG_LEVEL=info
      - ATP_OFFLINE_MODE=true
      - ATP_DISABLE_EXTERNAL_APIS=true

secretGenerator:
  - name: atp-secrets
    behavior: replace
    literals:
      - database-url=postgresql://atp:password@postgres.internal:5432/atp
      - redis-url=redis://redis.internal:6379
      - jwt-secret=change-me-in-production
